.baseButton {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #cda386;
    border-radius: 7px;
    color: #221f25;
    width: 100px;
    height: 30px;
    &.withBorder {

    }
    &.withoutBorder {

    }
    &.small {

    }
    &.big {

    }
    &.primary {

    }
    &.secondary {

    }
}