.modal-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.modal-button {
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 45%;

    &.confirm {
        background-color: red;
        color: white;
    }

    &.cancel {
        background-color: lightgray;
        color: black;
    }

    &:hover {
        opacity: 0.8;
    }
}
