.modal-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.modal-button {
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 45%;
}

.modal-button.confirm {
    background-color: red;
    color: white;
}

.modal-button.cancel {
    background-color: lightgray;
    color: black;
}

.modal-button:hover {
    opacity: 0.8;
}
